.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* events */
#events {
  background-color: #f0f5f9;
}

#showEvents {
  display: flex;
  justify-content: center;
  color:  #f73859; 
}

#showEvents a{
  color:  #f73859;
}

/* Host event */
.input {
  background: rgba(241, 241, 241, .7);
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  border: 0;
  color: #3E3E3E;
}

.submit-btn {
  background-color: rgba(36, 41, 44, .9);
  border: none;
  width: 100%;
  text-align: center;
  padding: 14px;
  border-radius: 4px;
  color: white;
}